language: python
python:
- 3.7
install:
- python setup.py install
- pip install -r tests/test-requirements.txt
script:
- pytest tests/tests.py
deploy:
  provider: pypi
  user: "__token__"
  password:
    secure: sImoB0wYolBlRnp5hq2PmkHR4LMKJlf/kZbF/ePMwRyJyLHFYkYbCyqZAiWoZP585Rma4V3AguyAhNvGyV0gTEtFGOwwSngX28q13n6Ky8U4krNgsVGjOnt/fNNBVr8yABqiVfE5Yn5V9K8D8hhSZ20/OxdfO7pl6EvO2rAH/GkmHJ28n8WmcN4Mu3cZgdALHfwC3282yF9hrNaQFAniH9iOr+L8GAQK3oCSZiSIOgRgp/4JDj5BglJgePZ2MzywyffeJZocLlqlilTgI47svA8hdzuwN8DuV9Q9ixUspFlcyqdi5E1pc7IHCnWfkCA8bzz5PLdb3M6Wk2PxT7b9/yKqr6kh6GRcGHXRyEPV8+98nzs1YB61p5iKIwdsAbVACYZfmTKeJ3rD91zblPLqPul+psYNTfIlMTZ6rKdoWFrKAUsA94RA6DPaeeyK7VtaTwTzke089GYcCXZSAQY3rYq9Oy7C44gPotqdc+C468yScncsay7PVt8sKY5s6NrDDCuc92o9LCsW/TRJeEPC8pk5K07IThZXhiegbNOPg51kcarWyRxO/HrwppgUhWOU1XDweH/KSuVrE+w9lK5rpuYiapW/T7N73rbFSPhlKTNCQDKUcanHa1vqIII/8YJhfHYTs9Vuzjx5cF3Gb/TLyLsIiMJqSUhwIZHoaat6I04=
  distributions: bdist_wheel
  on:
    tags: true
