name: Test and deploy

on: push

env:
  PYTHON_VERSION: 3.12

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: astral-sh/setup-uv@v3
      - run: uv python install $PYTHON_VERSION
      - run: uv sync --group test
      - run: uv run pytest tests/tests.py

  deploy:
    if: startsWith(github.ref, 'refs/tags')
    needs: test
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@v4
      - uses: astral-sh/setup-uv@v3
      - run: uv python install $PYTHON_VERSION
      - run: uv build
      - run: uv publish
